<!DOCTYPE html>
<html lang="kr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>PROJECT 1</title>
  <link rel="stylesheet" href="highlight/styles/atom-one-light.css">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  <header>
    <h1>기준정보 동기화</h1>
  </header>

  <main>
    <div id="editor" class="editor-holder">
      <div id="optionBtn">
        <button v-on:click="defaultBtn">RESET</button>
        <div id="whereSql">
            <p>where 조건</p>
            <button v-on:click="whereBtn('U')">USE_FLAG</button>
            <button v-on:click="whereBtn('I')">IF_ID</button>
            <button v-on:click="whereBtn('W')">WORK_GROUP</button>
        </div>
        <div id="callRest">
            <p>rest 호출</p>
            <button v-on:click="getBtn">GET LIST</button>
            <button v-on:click="postBtn">POST LIST</button>
        </div>
      </div>

      <textarea v-model="query" autocapitalize="characters" >{{query}}</textarea>
      
      <div id="result-box" >
        <table>
          <!-- <thead>
            <tr>
              <td v-for="colum in infoColumns">
                {{ colum }}
              </td>
            </tr>
          </thead> -->
          <tbody>
            <tr v-for="info in infoData">
                <td>{{ info.time }}</td>
                <td>{{ info.type }}</td>
                <td class="response">{{ info.response }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </main>


  
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="highlight/highlight.pack.js"></script>
  <script>hljs.initHighlightingOnLoad();</script>
  <script src="index.js"></script>
</body>
</html>
